<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/adsite.css">
    <title>Add site</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
               <header>
           
            <nav class="container">
                <div class="logo">
                <a href="index.html"><img src="./img/LOgo.jpg" alt=""></a></div>
                <ul class="menu">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./reklamajoylashtirish.html">place an ad</a></li>
                <li><a href="./balance.html">balance</a></li>
                <li><a href="./adsite.html">Add site</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">withdraw money</a></li>
                </ul>
            </nav>
        </header>
        </div>
        <div class="intro container">
            <div class="intro_text">
                <h1>You are in the add site section</h1>
            </div>
            <div class="intro_img">
                <img src="./img/sites-create-new.svg" alt="">
            </div>
        </div>
        <div class="mega container">
            <div class="mega_text">
                <a href="#"><button type="button"><b>add site</b></button></a>
            </div>
            <div class="mega_text">
                <h1>List of your sites</h1>
            </div>
            <div class="mega_text">
                <a href="https://context.reverso.net/"><b>https://context.reverso.net/</b></a>
            </div>
            <div class="mega_text">
                <a href="https://context.reverso.net/"><b>https://context.reverso.net/</b></a>
            </div>
            <div class="mega_text">
                <a href="https://context.reverso.net/"><b>https://context.reverso.net/</b></a>
            </div>
            <div class="mega_text">
                <a href="https://context.reverso.net/"><b>https://context.reverso.net/</b></a>
            </div>
            <div class="mega_text">
                <a href="https://context.reverso.net/"><b>https://context.reverso.net/</b></a>
            </div>
            <div class="mega_text">
                <a href="https://context.reverso.net/"><b>https://context.reverso.net/</b></a>
            </div>
        </div>
    </div>
</body>
</html>