{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'assets/css/adsite.css' %}">
    {% block title %}Add site{% endblock title %}

    <div class="wrapper">
        <div class="intro container">
            <div class="intro_text">
                <h1>You are in the add site section</h1>
                
            </div>
            <div class="intro_img">
                <img src="{% static 'assets/img/sites-create-new.svg' %}" alt="">
            </div>
        </div>
        <div class="mega container">
            <div class="mega_text">
                <a href="#"><button type="button"><b>add site</b></button></a>
            </div>
            <div class="mega_text">
                <h1>List of your sites</h1>
            </div>
            <div class="mega_text">
                <a href="https://context.reverso.net/"><b>https://context.reverso.net/</b></a>
            </div>
            <div class="mega_text">
                <a href="https://context.reverso.net/"><b>https://context.reverso.net/</b></a>
            </div>
            <div class="mega_text">
                <a href="https://context.reverso.net/"><b>https://context.reverso.net/</b></a>
            </div>
            <div class="mega_text">
                <a href="https://context.reverso.net/"><b>https://context.reverso.net/</b></a>
            </div>
            <div class="mega_text">
                <a href="https://context.reverso.net/"><b>https://context.reverso.net/</b></a>
            </div>
            <div class="mega_text">
                <a href="https://context.reverso.net/"><b>https://context.reverso.net/</b></a>
            </div>
        </div>
    </div>
{% endblock content %}