{% extends 'pages/base.html' %}]
{% load static %}
{% block title %}RekUz.com{% endblock title %}
{% block content %}
    <div class="wrapper">
        <div class="intro container">
            <div class="intro_img">
                <img src="{% static 'assets/img/reklama.png' %}" alt="" width="500px">
            </div>
            <div class="intro_text">
                <h1>Welcome</h1>
                <p>Welcome to our site and increase your income with us</p>
                <h2>There are all kinds of ads</h2>
                <a href="./anadvertiser.html"><button type="button"><b>an advertiser</b></button></a>
                <a href="./publisher.html"><button type="button"><b>publisher</b></button></a>
            </div>
        </div>
        <div class="border container">
            <div class="border_text">
                <img src="{% static 'assets/img/Free-Social-Media-Banner-Design-Flat-Style-scaled.jpg' %}" alt="">
                <h1>Banner</h1>
                <p>Banner ads look like this</p>
                <h2>Earn Big with Banner Ads You get paid more for banner ads. Earn money by placing ads on your site</h2>
            </div>
            <div class="border_text">
                <img src="{% static 'assets/img/podpiska-na-push-uvedomleniia.webp' %}" alt="">
                <h1>Push notification </h1>
                <p>push ads look like this</p>
                <h2>Earn Big with Push Ads You get paid more for banner ads. Earn money by placing ads on your site</h2>
            </div>
            <div class="border_text">
                <img src="{% static 'assets/img/digital-marketing-banner-template_23-2148924871.avif' %}" alt="">
                <h1>pro banner</h1>
                <p>pro banner  ads look like this</p>
                <h2>Pro banner ad appears in the front window of the site Appears in the front window when the user is using the site, and when the user clicks on the ad, you are paid.</h2>
            </div>
        </div>
    </div>
    {% endblock content %}