<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reklamajoylashtirish.css">
    <title>place an ad</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
               <header>
           
            <nav class="container">
                <div class="logo">
                <a href="index.html"><img src="./img/LOgo.jpg" alt=""></a></div>
                <ul class="menu">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./reklamajoylashtirish.html">place an ad</a></li>
                <li><a href="./balance.html">balance</a></li>
                <li><a href="./adsite.html">Add site</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">withdraw money</a></li>
                </ul>
            </nav>
        </header>
        <div class="intro">
            <div class="intor_text">
                <div class="intro_text">
                    <h1>Hello, you are in the advertising section, you can post your own ads in this section...</h1>
                </div>
            </div>
                <div class="intro_img">
                    <img src="./img/banner-ad-examples-1024x536.jpg" alt="">
                </div>
            
        </div>
        <div class="rek">
            <div class="rek_text">
                <h1>Your sites</h1>
            </div>
            <div class="introo_text">
                <a href="#"><h2>file:///C:/Users/99899/Desktop/</h2></a>
                <a href="#"><Button type="button">Turn off</Button></a>
                <a href="#"><button type="button">advertise</button></a>
                <a href="#"><h2>https://www.google.com/</h2></a>
                <a href="#"><Button type="button">Turn off</Button></a>
                <a href="#"><button type="button">advertise</button></a>
                <a href="#"><h2>https://www.google.com/</h2></a>
                <a href="#"><Button type="button">Turn off</Button></a>
                <a href="#"><button type="button">advertise</button></a>
            </div>
        </div>
        </div>
</body>
</html>